{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz dealer - Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    <link rel="stylesheet" href="{% static 'login_register_pages/all.js' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/all.css' %}">

    <link rel="stylesheet" href="{% static 'login_register_pages/font-nunito.css' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/sb-admin-2.min.css' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/not_logged.css' %}">
</head>
<body class="bg-gradient-danger">
<div class="container">

    <div class="my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <!-- Div with class row is under -->

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="card col-lg-6 border-0 shadow">
                    <a href="/">
                        <img src="{% static 'logo.png' %}" alt="Logo image"
                             style="width: 80%; margin: auto; display: block; margin-top: 10px; margin-bottom: -30px;">
                    </a>
                    <div class="p-3 mt-4">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4 fw-bold">Forgot your password?</h1>
                            <p>No worries, submit your email address or username below, and we will send you the
                                password reset
                                link.</p>
                        </div>
                        <form id="reset_form">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="username"
                                       placeholder="Username or email" name="username"
                                       style="text-align: center; font-weight: bold; font-size: 18px;">
                            </div>

                            <p class="text-success text-center mb-2 fw-bold" style="display: none;"
                               id="response_message">If
                                there is an account associated with this email
                                password reset link will be sent to it soon. The link is valid for 10 minutes!</p>


                            <input type="submit" value="Reset password" id="reset_btn"
                                   class="btn btn-primary btn-user btn-block" disabled>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'login_page' %}">Login instead!</a><br>
                            <a class="small" href="{% url 'register_page' %}">Create a new account!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                </div>
            </div>


        </div>

    </div>

</div>
<script src="{% static 'login_register_pages/jquery.js' %}"></script>
<script src="{% static 'login_register_pages/jquery.easing.min.js' %}"></script>
<script src="{% static 'login_register_pages/sb-admin-2.min.js' %}"></script>
<script src="{% static 'login_register_pages/bootstrap4.js' %}"></script>


<script>
    $("#username").keyup(function (e) {
        if ($("#username").val().length > 0) {
            $("#reset_btn").attr("disabled", false);
        } else {
            $("#reset_btn").attr("disabled", true);
        }
    })
    $(document).on("submit", "#reset_form", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'forgot_password' %}",
            data: JSON.stringify({
                username: $("#username").val()
            }),
            success: function (data) {

                $("#response_message").css("display", "block");
                $("#username").val("");
                $("#reset_btn").attr("disabled", true);
            }
        })

    });
</script>

</body>
</html>