{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz dealer - Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    <link rel="stylesheet" href="{% static 'login_register_pages/all.js' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/all.css' %}">

    <link rel="stylesheet" href="{% static 'login_register_pages/font-nunito.css' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/sb-admin-2.min.css' %}">
    <link rel="stylesheet" href="{% static 'login_register_pages/not_logged.css' %}">
</head>
<body class="bg-gradient-danger">
<div class="container">

    <div class="my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <!-- Div with class row is under -->

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="card col-lg-6 border-0 shadow">
                    <a href="/">
                        <img src="{% static 'logo.png' %}" alt="Logo image"
                             style="width: 80%; margin: auto; display: block; margin-top: 10px; margin-bottom: -30px;">
                    </a>
                    <div class="p-3 mt-4">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4 fw-bold">Reset your password?</h1>
                        </div>
                        <form id="reset_form">
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="password"
                                       placeholder="New password" name="password"
                                       style="text-align: center; font-weight: bold; font-size: 18px;">
                            </div>

                            <p class="text-success text-center mb-2 fw-bold" style="display: none;"
                               id="response_message">Password has been updated. wait to be redirected and login</p>
                            <p class="text-danger text-center mb-2 fw-bold" style="display: none;"
                               id="invalid_response">Reset link is not valid. Try again by repeating the forgot the
                                password process</p>
                            <p class="text-danger text-center mb-2 fw-bold" style="display: none;"
                               id="short_password">Password has to have at least 6 characters</p>


                            <input type="submit" value="Reset password" id="reset_btn"
                                   class="btn btn-primary btn-user btn-block" disabled>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'login_page' %}">Login instead!</a><br>
                            <a class="small" href="{% url 'register_page' %}">Create a new account!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                </div>
            </div>


        </div>

    </div>

</div>
<script src="{% static 'login_register_pages/jquery.js' %}"></script>
<script src="{% static 'login_register_pages/jquery.easing.min.js' %}"></script>
<script src="{% static 'login_register_pages/sb-admin-2.min.js' %}"></script>
<script src="{% static 'login_register_pages/bootstrap4.js' %}"></script>


<script>
    $("#password").keyup(function (e) {
        if ($("#password").val().length > 0) {
            $("#reset_btn").attr("disabled", false);
        } else {
            $("#reset_btn").attr("disabled", true);
        }
    })
    $(document).on("submit", "#reset_form", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'reset_forgotten_password' %}",
            data: JSON.stringify({
                reset_link: "{{ reset_link }}",
                password: $("#password").val()
            }),
            success: function (data) {
                if (data.hasOwnProperty("error")) {
                    $("#invalid_response").css("display", "block");
                } else if (data.hasOwnProperty("password")) {
                    $("#short_password").css("display", "block");
                } else if (data.hasOwnProperty("success")) {
                    $("#short_password").css("display", "none");
                    $("#invalid_response").css("display", "none");
                    $("#response_message").css("display", "block");
                    $("#reset_btn").attr("disabled", true);
                    setTimeout(function () {
                        window.location.replace("{% url 'login_page' %}")
                    }, 1500)
                } else {
                    alert("Reset link is not valid. Try again by repeating the forgot the password process");
                }

            }
        })

    });
</script>

</body>
</html>